;; TODO: Add README
;; TODO: Render to github pages (separate branch?)
;; TODO: Use github actions to build site on merge to master
;; TODO: Style

{:deps {io.github.borkdude/quickblog
        #_"v2.3.0"
        {:git/sha "6a865f135fdcf73f9ae33e5a562a387a9aeb86a6"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:blog-author "Oliver Marshall"
                   ;; TODO: Think of a better title
                   :blog-title "Blog by the Rocks"
                   ;:blog-description "A blog mostly about Clojure and ClojureScript."
                   :out-dir "public"
                   :blog-root "https://blog.bythe.rocks/"})
                   ;; TODO: How to handle discussion
                   ;:discuss-link "https://github.com/borkdude/blog/discussions/categories/posts"
                   ;:twitter-handle "borkdude"
                   ;:about-link "https://michielborkent.nl"
                   ;:favicon true
  ;; TODO: Add other commands so I can just do `bb watch`, `bb render`
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}
