;; TODO: Add README
;; TODO: Style? (maybe not for now)

{:deps {io.github.borkdude/quickblog
        #_"v2.3.0"
        {:git/sha "6a865f135fdcf73f9ae33e5a562a387a9aeb86a6"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (do
          (def opts {:blog-author "Oliver Marshall"
                     :blog-title "Blog by the Rocks"
                     :blog-description "A blog about programming, likely Clojure."
                     :out-dir "public"
                     :blog-root "https://blog.bythe.rocks/"
                     ;; TODO: How to handle discussion
                     ;:discuss-link "https://github.com/borkdude/blog/discussions/categories/posts"
                     ;:twitter-handle "borkdude"
                     ;:about-link "https://michielborkent.nl"
                     :favicon true})
          (defn- run-command [cmd-name opts]
            (apply cli/dispatch opts cmd-name *command-line-args*)))

  new {:doc "Create new blog article"
       :task (run-command "new" opts)}

  render {:doc "Render blog"
          :extra-paths ["src"]
          :requires ([blog :as blog])
          :task (do (run-command "render" opts)
                    (blog/spit-404 opts))}

  watch  {:doc "Watch posts and templates and render file changes"
          :task (run-command "watch" opts)}

  clean {:doc "Remove cache and output directories"
         :task (run-command "clean" opts)}

  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}
