---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

const base = import.meta.env.BASE_URL;

const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Blog" description="All blog posts">
  <h1>Blog</h1>

  <ul class="post-list">
    {sortedPosts.map(post => (
      <li>
        <time datetime={post.data.date.toISOString().split('T')[0]}>
          {post.data.date.toISOString().split('T')[0]}
        </time>
        <a href={`${base}blog/${post.slug}/`}>
          {post.data.title}
          {post.data.draft && <span class="draft-marker">[DRAFT]</span>}
        </a>
      </li>
    ))}
  </ul>
</Layout>
